{% extends "base.html" %} 
{% block title %} Home Page{% endblock %}
{% block content %}
<body>
    <div class="card-deck">
        <div class="card">
          <img src="" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Text Adventure</h5>
            <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
            <a href="#" class="btn btn-primary">Play!</a>
          </div>
        </div>
        <div class="card">
          <img src="" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Puzzles</h5>
            <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
            <a href="#" class="btn btn-primary">Play!</a>
          </div>
        </div>
      </div>        
</body>
{% endblock %}
